#login-page {
  margin-top: 13%;
}

#login-form {
  background-color: #101010;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 15px;
}

@media only screen and (max-width: 600px) {
  #login-form{
    width: 300px;
  }
}