#productList-page {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 300px) {
  #productList-grid {
    display: grid;
    grid-template-columns: 300px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 650px) {
  #productList-grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 1275px) {
  #productList-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 25px;
  }
}

.productList-productContainer {
  background-color: #101010;
  width: 260px;
  height: 350px;
  padding: 20px;
}

.productList-productContainer:hover{
  width: 260px;
  height: 345px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 5px solid rgb(255, 77, 0);
}

.productList-textWhite{
  color: white
}

.productList-productImg {
  width: 280px;
  height: 280px;
}

.productList-productPrice  {
  margin-top: 10px;
  text-align: end; 
  font-size: 22px;
  color: rgb(255, 77, 0);
  font-weight: bold;
}