#home-page{
  padding-bottom: 40px;
}

#home-slideshow {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-slideshowImg {
  height: 100%;
  width: 100%;
}

.home-arrowBtn{
  position: absolute;
  border-radius: 100%;
  padding-top: 5px;
  padding-bottom: 2px;
  outline: none;
}

#home-rightArrowBtn{
  left: 95%
}
#home-leftArrowBtn{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 95%;
}

.home-arrowSvg {
  height: 30px;
}

#home-categoryContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10em;
}

#home-minionCategory{
  height: 300px;
}

#home-categories{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-category{
  background-color: #353535;
  width: 300px;
  padding: 20px 15px;
  color: white;
  font-size: 20px; 
}

