#productList-page {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 300px) {
  #productList-grid {
    display: grid;
    grid-template-columns: 300px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 650px) {
  #productList-grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 1275px) {
  #productList-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 25px;
  }
}

.productList-productContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 400px;
  background-color: #303030;
}

.productList-productImg {
  width: 300px;
  height: 300px;
}

.productList-text {
  padding-left: 25px;
}

.productList-productName {
  color: white;
}

.productList-productPrice {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
