#signin-page {
  margin-top: 13%;
}

#signin-form {
  background-color: #252525;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 15px;
}


@media only screen and (max-width: 600px) {
  #signin-form{
    width: 300px;
  }
}