nav {
  width: 100%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: #151515;
}

#nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.nav-btn {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 3em;
  list-style: none;
}

#cartContainer {
  display: flex;
}

#shoppingCartIcon {
  margin-top: -3px;
  width: 27px;
  height: 27px;
  fill: white;
}

@media only screen and (max-width: 499px) {
  ul{
    padding-inline-start: 20px;
  }
  nav{
    font-size: 13px;
  }
  #cartCount {
    display: none;
  }
}

@media only screen and (max-width: 399px) {
  nav{
    font-size: 12px;
  }
}

@media only screen and (min-width: 500px) {
  #cartCount {
    background-color: rgb(255,77,0);
    color: black;
    border-radius: 100px;
    font-size:14px;
    padding:1px 5px 0 5px;
    margin-left: -5px
  }
  #shoppingCartIcon {
    margin-top: 0px;
    width: 23px;
    height: 23px;
    fill: white;
  }
}
