nav {
  width: 100%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color:  #303030;
}

#nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white
}

.nav-btn{
  display: flex;
  flex-direction: row;
}

li{
  margin-right: 3em;
  list-style: none;
}

#cartContainer{
  display: flex;
}

#shoppingCartIcon{
  margin-top: -7px;
  width: 27px;
  height: 27px;
  fill: white
}

@media only screen and (max-width:549px) {
  #cartCount{
    display: none;
  }
}

@media only screen and (min-width: 550px) {
  #cartCount{
    background-color: red;
    color: black;
    padding: 3px;
    border-radius: 100px;
    font-size: 12px;
    margin-left: -5px;
    margin-top: -2px;
  }
}