@media only screen and (min-width: 800px) {
  #product-page {
    display: flex;
    justify-content: center;
  }
  #product-infoContainer {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    margin-top: 25px;
  }

  .product-imgContainer,
  .product-textContainer {
    background-color: #101010;
    color: white;
  }

  #product-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #product-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #product-img {
    width: 400px;
    height: 400px;
  }

  #product-name {
    font-size: 20px;
    font-weight: bold;
  }

  #product-desc {
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #product-price {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 77, 0); 
    text-align: end;
  }

  #product-addtocartBtn {
    position: relative;
    width: 100%;
    padding: 10px 0;
    align-self: flex-end;
  }
}

@media only screen and (max-width: 799px) {
  #product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px
  }

  #product-infoContainer {
    background-color: #101010;
  }

  .product-textContainer {
    padding: 15px 15px;
    color: white
  }

  #product-img {
    width: 325px;
    height: 325px;
   
  }

  #product-name {
    font-size: 22px
  }

  #product-desc {
    margin: 5px 0
  }

  #product-price {
    text-align: end;
    color: rgb(255, 77, 0);
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0;
  }

  #product-addtocartBtn {
    width: 100%;
    padding: 10px;
  }
}